{% extends 'shop/basic.html' %}

{% block title %}Contact To- My Awesome Cart{% endblock %}

{% block body %}
<div class="container my-3">
<h3>Contact to our team of My Awesome Cart</h3>
    <form action="/shop/contact/" method="post"> {% csrf_token %}
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
  </div>
    <div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" id="email" name="email" placeholder="Enter your email address">
  </div>
    <div class="form-group">
    <label for="phone">Name</label>
    <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter your Phone Number">
  </div>
   <div class="form-group">
    <label for="Description">Description</label>
    <textarea class="form-control" id="Description" name="Description" placeholder="Write your problems here" style="height: 259px;" rows="3"></textarea>
  </div>
    <button type="submit" class="btn btn-primary">submit</button>
</form>


</div>
{% endblock %}